doctype html
html(lang='en')
    head
        title Color
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    body(style={'background-color': color})
        div.container
            h1 Color
            pre.bg-faded
                code= message
